<mat-card class="card">
  <mat-card-title class="title">Excluir Produto</mat-card-title>
  <form>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input type="text" [value]="product.name" name="name" matInput disabled>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Preço (R$)</mat-label>
      <input type="number" [value]="product.price" name="price" matInput disabled>
    </mat-form-field>
  </form>
</mat-card>
<button mat-button (click)="deleteProduct()" class="warn">
  Excluir
</button>
<button mat-button (click)="cancel()" class="cancel">
  Cancelar
</button>